
defaults REDIS
mode tcp
timeout connect 3s
timeout server 6s
timeout client 6s

frontend ft_redis
bind *:6378 name redis
default_backend bk_redis

backend bk_redis
option tcp-check
tcp-check connect
tcp-check send PING\r\n
tcp-check expect string +PONG
tcp-check send info\ replication\r\n
tcp-check expect string role:master
tcp-check send QUIT\r\n
tcp-check expect string +OK
server redis_7000 localhost:7000 check inter 1s
server redis_7001 localhost:7001 check inter 1s